<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Thay đổi mật khẩu - Quản lý nhà ứng sinh Dòng Tên Việt Nam</title>
  <link rel="shortcut icon" type="image/ico" href="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/Images/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/CANHOUSE/css/Home.css">
  <link rel="stylesheet" type="text/css" href="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/CANHOUSE/css/styles.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
  <div class="container-fluid bg-light rounded" id="useForAccountForm">
    <my-website-header></my-website-header>
    <div class="row">
      <my-website-menu></my-website-menu>
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-12 bg-brown-yellow text-center h-55px text-white">
            <p class="mb--15px">&nbsp;&nbsp;</p>
            <span class="font-27px">Thay đổi mật khẩu</span>
          </div>
        </div>
        <div class="row mt-4 ml-5 mr-5" style="height: 457px;">
          <div class="col-lg-12">
            <form @submit.prevent="submitAddAccountForm" action="GET" method="" autocomplete="off">
              <!--autocomplete: if it is 'on', it save the information filled in the input at previous the times and it will propose that information for the next times. If it is 'off', it is opposite-->
              <fieldset class="scheduler-border mt-4">
                <legend class="scheduler-border font-weight-bold text-size-15px">Thông tin đổi mật khẩu</legend>
                <div class="row mt-2 mb-30px" style="margin-left: 237px;">
                  <div class="col-lg-3 mt-1" style="margin-right: 8px;">
                    <label class="text-size-15px" for="oldPassword">Mật khẩu của bạn:</label>
                  </div>
                  <div class="col-lg-5">
                    <input v-bind:title="titleOldPassword" v-model="oldPassword" id="oldPassword" name="oldPassword" type="password"
                      class="form-control rounded-0 text-size-13px ml--30px" placeholder="Nhập Mật khẩu hiện tại...">
                    <div class="row ml--43px">
                      <div class="col-12">
                        <span v-if="!oldPasswordIsValid" class="text-danger text-size-13px">Yêu cầu nhập thông tin mật
                          khẩu hiện tại</span>
                        <span v-else-if="oldPasswordEnoughLength" class="text-danger text-size-13px">Mật khẩu phải trên 9
                          ký tự</span>
                        <span>&nbsp;</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2 mb-30px" style="margin-left: 265px;">
                  <div class="col-lg-3 mt-1" style="margin-right: -12px;">
                    <label class="text-size-15px" for="newPassword">Mật khẩu mới:</label>
                  </div>
                  <div class="col-lg-5">
                    <input v-bind:title="titleNewPassword" v-model="newPassword" id="newPassword" name="newPassword" type="password"
                      class="form-control rounded-0 text-size-13px ml--30px" placeholder="Nhập Mật khẩu mới...">
                    <div class="row ml--43px">
                      <div class="col-12">
                        <span v-if="!newPasswordIsValid" class="text-danger text-size-13px">Yêu cầu nhập thông tin mật
                          khẩu mới</span>
                        <span v-else-if="newPasswordEnoughLength" class="text-danger text-size-13px">Mật khẩu phải trên 9
                          ký tự</span>
                        <span v-else-if="newPasswordStrong" class="text-success text-size-13px">Mật khẩu mạnh</span>
                        <span v-else-if="newPasswordMiddle" class="text-warning text-size-13px">Mật khẩu trung bình</span>
                        <span v-else class="text-danger text-size-13px">Mật khẩu yếu</span>
                        <span>&nbsp;</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2 mb-30px" style="margin-left: 205px;">
                  <div class="col-lg-4 mt-1" style="margin-right: -30px;"> 
                    <label class="text-size-15px" for="renewPassword">Nhập lại mật khẩu mới:</label>
                  </div>
                  <div class="col-lg-5">
                    <input v-bind:title="titleRenewPassword" v-model="renewPassword" id="renewPassword" name="renewPassword" type="password"
                      class="form-control rounded-0 text-size-13px ml--30px" placeholder="Nhập lại Mật khẩu mới...">
                    <div class="row ml--43px">
                      <div class="col-12">
                        <span v-if="!renewPasswordIsValid" class="text-danger text-size-13px">Yêu cầu nhập lại thông tin mật
                          khẩu mới</span>
                        <span v-else-if="!checkRenewPassword" class="text-danger text-size-13px">Hai mật khẩu không giống nhau</span>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row mt--12px" style="margin-left: 110px;">
                <div class="col-lg-8"></div>
                <div class="col-lg-2">
                  <button :disabled="!refreshFormChangePassword" @click="clearInputChangePassword"
                    class="btn btn-primary rounded-0 ml-5 bg-brown-yellow btn-outline-dark align-middle text-dark text-size-15px btn-submit">
                    <i class="fas fa-redo"></i>
                    &nbsp;Làm mới
                  </button>
                </div>
                <div class="col-lg-2">
                  <button :disabled="!changePasswordFormIsValid"
                    class="btn btn-primary btn-outline-dark rounded-0 ml-4 bg-brown-yellow align-middle text-dark text-size-15px btn-submit"
                    type="submit">
                    <i class="fas fa-plus"></i>
                    &nbsp;Đồng ý
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <my-website-footer></my-website-footer>
      </div>
    </div>
  </div>
  <script src="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/CANHOUSE/js/Common.js"></script>
</body>

</html>