<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Đăng nhập - Quản lý nhà ứng sinh Dòng Tên Việt Nam</title>
  <link rel="shortcut icon" type="image/ico" href="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/Images/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/CANHOUSE/css/Login.css">
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
  <div class="container">
    <img src="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/Images/logoungsinh.png" class="image-fluid" alt="logo">
    <div class="card bg-white">
      <div class="card-title text-center font-weight-bold">Đăng Nhập Hệ Thống</div>
      <div class="card-body" id="loginForm">
        <form @submit.prevent="submitFormLogin" action="" method="POST" autocomplete="off" class="login100-form">
          <!--'Submit' event won't reload page-->
          <div class="wrap-input100 validate-input mt-2">
            <input type="text" v-bind:title="title_username" name="username" id="username" v-model="username" class="form-control input100" placeholder="Nhập Tài khoản">
            <span class="symbol-input100">
              <i class="fas fa-user fa-lg"></i>
            </span>
          </div>
          <div class="wrap-input100 validate-input mt-3">
            <input type="password" v-bind:title="title_password" name="password" id="password" v-model="password" class="form-control input100" placeholder="Nhập Mật khẩu">
            <span class="symbol-input100">
              <i class="fa fa-lock fa-lg"></i>
            </span>
          </div>
          <button :disabled="!formIsValid"
            class="btn btn-info btn-lg btn-block btn-outline-dark align-middle text-dark font-weight-bold mt-3"
            type="submit">Đăng nhập</button>
        </form>
        <div class="float-right mt-3 font-weight-bold font-italic">Quên mật khẩu?</div>
      </div>
    </div>
  </div>
  <script src="/UNIVERSITY/YEAR_4_2/LUAN_VAN_TOT_NGHIEP/CANHOUSE/js/Login.js"></script>
</body>

</html>